@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: #ffffff;
}

.rc-slider-captcha .slider-captcha-loading-text,
.rc-slider-captcha-loading-text {
  display: none !important;
}

.btn-pink {
  width: 373px;
  height: 53px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background: linear-gradient(to right, rgb(236, 72, 153), rgb(219, 39, 119));
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: all 200ms;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-pink:hover {
  background: linear-gradient(to right, rgb(219, 39, 119), rgb(190, 24, 93));
  box-shadow: 0 10px 15px -3px rgb(236 72 153 / 0.5), 0 4px 6px -4px rgb(236 72 153 / 0.5);
}